<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./frontend/tests/_bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>./frontend/tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
